@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("t  ruetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("Montserrat-Light.eot");
  src: url("Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("Montserrat-Light.woff") format("woff"), url("Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat Regular', sans-serif;
}

a, ul, li {
  text-decoration: none;
}

.button {
  background: #d94948;
  border: none;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  font-family: 'Montserrat Bold', sans-serif;
}

@media (max-width: 788px) {
  .button {
    font-size: 13px;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "header-logo header-menu" ". header-text";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 75px 90vh;
      grid-template-rows: 75px 90vh;
  background: url(../img/hero-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-hamburger {
  display: none;
}

.header-hamburger .h-line {
  border-bottom: 3px solid #ffffff;
  width: 25px;
  margin-bottom: 5px;
  display: block;
}

.header-menu {
  padding: 35px 50px 0 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header-menu__list li {
  display: inline;
  margin-right: 15px;
  padding: 5px;
  font-size: 15px;
}

.header-menu__button {
  font-family: 'Montserrat Regular', sans-serif;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  letter-spacing: normal;
}

.header-menu a {
  color: rgba(255, 255, 255, 0.75);
}

.header-logo {
  padding: 35px 0 0 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
}

.header-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-menu;
}

.header-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header-text;
  grid-column: span 2;
  max-width: 957px;
  margin: 0 auto;
}

.header-subtitle, .header-title {
  color: #ffffff;
  font-size: 14px;
}

.header-title {
  font-size: 55px;
  font-family: 'Montserrat Bold', sans-serif;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}

.header-subtitle {
  text-transform: uppercase;
  font-family: 'Montserrat Bold', sans-serif;
  letter-spacing: 3px;
}

.header-wrapper {
  padding-right: 240px;
}

@media (max-width: 1175px) {
  .header-menu__list li {
    margin-right: 0px;
  }
}

@media (max-width: 1085px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header-logo" "header-menu" "header-text";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto auto 100vh;
        grid-template-rows: auto auto 100vh;
  }
  .header-menu, .header-logo {
    padding: 35px 0 0 0px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header-wrapper {
    padding: 25px;
  }
}

@media (max-width: 788px) {
  .header-text {
    text-align: center;
  }
  .header-title {
    font-size: 36px;
  }
  .header-menu__list {
    display: none;
  }
  .header-hamburger {
    display: block;
  }
  .header-subtitle {
    font-size: 13px;
    letter-spacing: 2px;
  }
}

.services {
  background: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 120px;
  text-align: center;
}

.services-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 2fr3fr 3fr;
      grid-template-rows: 2fr3fr 3fr;
  gap: 20px;
}

.services-desc {
  grid-column: span 4;
}

.services-desc h2 {
  margin-bottom: 30px;
  font-size: 34px;
  font-family: 'Montserrat Semibold', sans-serif;
}

.services-desc p {
  color: rgba(1, 22, 39, 0.75);
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Montserrat Regular', sans-serif;
}

.services-item {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../img/service-1.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/service-1.jpg);
  background-size: cover;
  color: #ffffff;
  height: 280px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1170px) {
  .services-wrapper {
    max-width: 1024px;
  }
  .services-item {
    grid-column: span 2;
  }
}

@media (max-width: 1024px) {
  .services-wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .services-item {
    grid-column: span 4;
    padding-left: 20px;
    padding-right: 20px;
  }
}

* {
  -webkit-box-sizing: border;
          box-sizing: border;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */