@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("Montserrat-Light.eot");
  src: url("Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("Montserrat-Light.woff") format("woff"), url("Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat Regular', sans-serif;
}

a, ul, li {
  text-decoration: none;
}

.button {
  background: #d94948;
  border: none;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  font-family: 'Montserrat Bold', sans-serif;
}

h2 {
  font-size: 34px;
  font-family: 'Montserrat Bold', sans-serif;
}

h1 {
  font-size: 55px;
}

p {
  color: rgba(1, 22, 39, 0.75);
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Montserrat Regular', sans-serif;
}

@media (max-width: 788px) {
  .button {
    font-size: 13px;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "header-logo header-menu" ". header-text";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 75px 90vh;
      grid-template-rows: 75px 90vh;
  background: url(../img/hero-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__hamburger {
  display: none;
}

.header__hamburger .h-line {
  border-bottom: 3px solid #ffffff;
  width: 25px;
  margin-bottom: 5px;
  display: block;
}

.header__menu {
  padding: 35px 50px 0 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__menu-list li {
  display: inline;
  margin-right: 15px;
  padding: 5px;
  font-size: 15px;
}

.header__menu-button {
  font-family: 'Montserrat Regular', sans-serif;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  letter-spacing: normal;
}

.header__menu a {
  color: rgba(255, 255, 255, 0.75);
}

.header__logo {
  padding: 35px 0 0 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
}

.header__menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-menu;
}

.header__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header-text;
  grid-column: span 2;
  max-width: 957px;
  margin: 0 auto;
}

.header__subtitle, .header__title {
  color: #ffffff;
  font-size: 14px;
}

.header__title {
  font-size: 55px;
  font-family: 'Montserrat Bold', sans-serif;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: 'Montserrat Bold', sans-serif;
  letter-spacing: 3px;
}

.header__wrapper {
  padding-right: 240px;
}

@media (max-width: 1175px) {
  .header__menu__list li {
    margin-right: 0px;
  }
}

@media (max-width: 1085px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header-logo" "header-menu" "header-text";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto auto 100vh;
        grid-template-rows: auto auto 100vh;
  }
  .header__menu, .header__logo {
    padding: 35px 0 0 0px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__wrapper {
    padding: 25px;
  }
}

@media (max-width: 788px) {
  .header {
    -ms-grid-rows: auto auto 370px;
        grid-template-rows: auto auto 370px;
  }
  .header-text {
    text-align: center;
  }
  .header__title {
    font-size: 36px;
  }
  .header__menu-list {
    display: none;
  }
  .header__hamburger {
    display: block;
  }
  .header__subtitle {
    font-size: 13px;
    letter-spacing: 2px;
  }
}

.services {
  background: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 120px;
  text-align: center;
}

.services__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 2fr3fr 3fr;
      grid-template-rows: 2fr3fr 3fr;
  gap: 20px;
}

.services__desc {
  grid-column: span 4;
}

.services__desc h2 {
  margin-bottom: 30px;
}

@media (max-width: 1170px) {
  .services__wrapper {
    max-width: 1024px;
  }
  .services__item {
    grid-column: span 2;
  }
}

@media (max-width: 1024px) {
  .services__wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .services__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .services__item {
    grid-column: span 4;
  }
}

.item-service {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service-1.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service-1.jpg);
  background-size: cover;
  color: #ffffff;
  height: 280px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 15px;
  padding: 0 50px;
  line-height: 1.4;
}

.advantages {
  padding-bottom: 80px;
}

.advantages__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  max-width: 1100px;
  margin: 0 auto;
}

.advantages__title {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 50px;
  color: rgba(1, 22, 39, 0.75);
  font-size: 34px;
}

@media (max-width: 1024px) {
  .advantages__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .advantages__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 380px;
  }
}

.item-advantage {
  padding: 20px;
}

.item-advantage__title {
  margin-top: 40px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 20px;
}

.item-advantage__icon {
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.item-advantage__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  width: 60px;
  font-size: 60px;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: rgba(237, 237, 237, 0.6);
  margin-bottom: 20px;
}

.item-advantage__list {
  -webkit-padding-start: inherit;
          padding-inline-start: inherit;
  font-size: 15px;
  color: rgba(1, 22, 39, 0.75);
  font-family: 'Montserrat Regular', sans-serif;
  line-height: 1.8;
}

.job-steps {
  background-color: #f9f9f9;
  padding: 110px 0;
}

.job-steps__title {
  text-align: center;
  margin-bottom: 90px;
}

.job-steps__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@media (max-width: 1024px) {
  .job-steps__wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .job-steps__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 350px;
    padding: 15px;
  }
  .job-steps__title h2 {
    font-size: 30px;
  }
}

.item-step {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-step__number {
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #B3B5BE;
}

.item-step__title {
  color: #2d324b;
  font-size: 14px;
  padding-bottom: 10px;
  font-family: 'Montserrat Bold', sans-serif;
}

.item-step__desc {
  color: rgba(45, 50, 75, 0.91);
  font-size: 14px;
  line-height: 1.8;
}

.about {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
  padding: 110px 0;
}

.about__desc {
  font-size: 15px;
  line-height: 1.8;
  color: rgba(1, 22, 39, 0.75);
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .about {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .about {
    max-width: 350px;
  }
}

.contact-form {
  padding: 100px 0 130px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/contact-form-bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contact-form-bg.jpg);
  background-size: cover;
}

.contact-form__wrapper {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.contact-form__title {
  color: #ffffff;
  font-size: 45px;
}

.contact-form__subtitle {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 15px;
}

.contact-form__input {
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
  width: 70%;
  margin-right: 15px;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 15px;
  border-width: 1px;
}

.contact-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contact-form__button {
  width: 20%;
}

@media (max-width: 768px) {
  .contact-form__wrapper {
    max-width: 350px;
    padding: 0px 20px;
  }
  .contact-form__input {
    width: 70%;
  }
  .contact-form__button {
    width: 20%;
    margin-top: 20px;
    width: auto;
  }
  .contact-form__fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .contact-form__title {
    font-size: 30px;
  }
}

.footer {
  background-color: #011627;
  padding: 50px 0;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  max-width: 1170px;
  margin: 0 auto;
}

.footer__title {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__item {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  line-height: 1.8;
}

.footer__info {
  padding-right: 140px;
}

.footer__list {
  -webkit-padding-start: inherit;
          padding-inline-start: inherit;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8;
  list-style: none;
}

@media (max-width: 1170px) {
  .footer__wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .footer__wrapper {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .footer__wrapper {
    padding: 0px 30px;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .footer__contacts {
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .footer__wrapper {
    padding: 0px 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__contacts {
    padding-top: 0px;
  }
  .footer__title {
    padding-top: 30px;
  }
}

* {
  -webkit-box-sizing: border;
          box-sizing: border;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */