body
    +regular
a, ul, li
    text-decoration: none
.button
    background: $button-background
    border: none
    padding: 15px 30px
    color: $white-color
    font-size: $button-text-size
    text-transform: uppercase
    letter-spacing: 1px
    border-radius: 50px
    +bold

@media (max-width: 788px)
    .button
        font-size: $mobile-button-text-size