.header
    display: grid
    grid-template-columns: 1fr 5fr
    grid-template-areas: "header-logo header-menu" ". header-text"
    align-items: center
    grid-template-rows: 75px 90vh
    background: url(../img/hero-back.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    &-menu
        padding: 35px 50px 0 0
        justify-self: end
        &__list 
            li
                display: inline
                margin-right: 15px
                padding: 5px
                font-size: $menu-text-size
        &__button
            +regular
            color: $menu-text-color 
            padding: 10px 20px
            letter-spacing: normal
        a
            color: $menu-text-color
    &-logo
        padding: 35px 0 0 50px
        grid-area: header-logo
    &-menu
        grid-area: header-menu
    &-text
        grid-area: header-text
        grid-column: span 2
        max-width: 957px
        margin: 0 auto  
    &-subtitle, &-title
        color: $white-color
        font-size: $h5-size
    &-title
        font-size: $h1-size
        +bold
        text-transform: uppercase
        margin: 20px 0 30px 0
    &-subtitle
        text-transform: uppercase
        +bold
        letter-spacing: 3px
    &-wrapper
        padding-right: 240px