.header
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    &-menu
        justify-self: end
        &__list 
            li
                display: inline
                margin-right: 5px
                padding: 5px
        